:root {
    --background-color: #282c34;
    --text-color: #61dafb;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

#clock-container {
    padding: 20px;
    border: 1px solid var(--text-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(61, 35, 192);
}

#clock  {
    font-size: 100px;
    font-weight: bold;
    text-shadow: var(--text-shadow);
    letter-spacing: 0.05;
}